<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Spring MVC Email Example</title>
    <style type="text/css">
        #sendEmailBtn {
            float: left;
            margin-top: 22px;
        }
    </style>
    <script src="ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.4.6/bluebird.min.js"></script>
       
</head>
<body>
<div  class="jumbotron text-center">
    <h2>Spring MVC Email Example</h2>
    <form id="sendEmailForm" method="post" action="sendEmail" enctype="multipart/form-data" onactio>
        <table id="emailFormBeanTable" border="0" width="80%">
            <tr>
                <td>Email To: </td>
                <td><input id="receiverMail" type="text" name="mailTo"
                           required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                           size="65" placeholder="Please enter email address" /></td>
            </tr>
            <tr>
                <td>Subject: </td>
                <td><input id="mailSubject" required minlength="1" type="text" name="subject" size="65" placeholder="Please enter subject" /></td>
            </tr>
			<tr>
			<td>Message: </td>
            <td><textarea name="editor1" id="editor1"  onpaste="console.log('onpastefromhtml')" rows="10" cols="80" >
                This is my textarea to be replaced with CKEditor.
            </textarea>
            <script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace( 'editor1' );
            </script>
             <script>
                var PasteImage = function (el) {
                this._el = el;
                this._listenForPaste();
              };
        
              PasteImage.prototype._getURLObj = function () {
                return window.URL || window.webkitURL;
              };
        
              PasteImage.prototype._pasteImage = function (image) {
                this.emit('paste-image', image);
              };
        
              PasteImage.prototype._pasteImageSource = function (src) {
                var self = this,
                  image = new Image();
        
                image.onload = function () {
                  self._pasteImage(image);
                };
        
                image.src = src;
              };
        
              PasteImage.prototype._onPaste = function (e) {
        
                // We need to check if event.clipboardData is supported (Chrome & IE)
                if (e.clipboardData && e.clipboardData.items) {
        
                  // Get the items from the clipboard
                  var items = e.clipboardData.items;
        
                  // Loop through all items, looking for any kind of image
                  for (var i = 0; i < items.length; i++) {
                    if (items[i].type.indexOf('image') !== -1) {
                      // We need to represent the image as a file
                      var blob = items[i].getAsFile();
        
                      // Use a URL or webkitURL (whichever is available to the browser) to create a
                      // temporary URL to the object
                      var URLObj = this._getURLObj();
                      var source = URLObj.createObjectURL(blob);
        
                      // The URL can then be used as the source of an image
                      this._pasteImageSource(source);
        
                      // Prevent the image (or URL) from being pasted into the contenteditable element
                      e.preventDefault();
                    }
                  }
                }
              };
        
              PasteImage.prototype._listenForPaste = function () {
                var self = this;
        
                self._origOnPaste = self._el.onpaste;
        
                self._el.addEventListener('paste', function (e) {
        
                  self._onPaste(e);
        
                  // Preserve an existing onpaste event handler
                  if (self._origOnPaste) {
                    self._origOnPaste.apply(this, arguments);
                  }
        
                });
              };
        
              // TODO: use EventEmitter instead
              PasteImage.prototype.on = function (event, callback) {
                this._callback = callback;
              };
        
              // TODO: use EventEmitter instead
              PasteImage.prototype.emit = function (event, arg) {
                this._callback(arg);
              };
        
              // -----
        
              var pasteImage = new PasteImage(document.getElementById('editor1'));
        
              pasteImage.on('paste-image', function (image) {
                document.body.appendChild(image);
              });
              
                </script>
                </td>
			</tr>

            <tr>
                <td>Attachment: </td>
                <td><input id="mailAttachment" type="file" name="attachFileObj" size="60" /></td>
            </tr>
            <tr>
            
                <td colspan="2" align="center"><input id="sendEmailBtn" type="submit" value="Send Email" /></td>
            
            </tr>
        </table>
    </form>
</div>
</body>
</html>