<!DOCTYPE HTML>
<html>
<head>
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <meta charset="utf-8">
	<title>CKEditor Sample</title>
	<script src="ckeditor.js"></script>
	<script src="sample.js"></script>
	<link rel="stylesheet" href="samples.css">
    
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Email Form</title>
    
    <!-- Email CSS -->
    <link rel = "stylesheet" type = "text/css" href = "emailForm.css" />
    
    <!-- CKEditor javascript -->
    <script src="ckeditor.js"></script>
    
    <!-- Bootstrap CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.4.6/bluebird.min.js"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

</head>
<body id="main">
<br><br>
<form id="sendEmailForm" method="post" action="sendEmail" enctype="multipart/form-data" >
<div class="container contact">
	<div class="row">
		<div class="col-md-3">
			<div class="contact-info">
				<h2>Contact Us</h2>
				<h4>We would love to hear from you !</h4>
				<br><br>
				<div style="display:table-cell; vertical-align:middle; text-align:center">
					<img src="Logo.png" alt="Logo" height="200" width="220">
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="contact-form">
				<div class="form-group required">
				  <label class="control-label col-sm-2" for="fname"><b>Recipient:</b></label>
				  	<div class="col-sm-10">          
						<input id="receiverMail" type="text" name="mailTo"
                           required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                           class="form-control mb-7 col-12" placeholder="Please enter email address" />
				  	</div>
				</div>
				
				<div class="form-group required">
				  	<label class="control-label col-sm-2" for="lname" required="required" ><b>Subject:</b></label>
				  	<div class="col-sm-10">          
						<input id="mailSubject" required minlength="1" type="text" class="form-control mb-7 col-12" name="subject" placeholder="Please enter subject" />
				  	</div>
				</div>
				<div class="form-group required">
					<label class="control-label col-sm-2" for="lname" required="required" ><b>Checkboxes:</b></label>
						<div class="col-sm-10">  
						Pole1
						<br>
						<select name="field1">
							<option value="ans1" selected>ans1</option>
							<option value="ans2">ans2</option>
							<option value="ans3">ans3</option>
							<option value="ans4">ans4</option>
						</select>
						<br>
						Pole2
						<br>
						<select name="field2">
							<option value="ans1" selected>ans1</option>
							<option value="ans2">ans2</option>
							<option value="ans3">ans3</option>
							<option value="ans4">ans4</option>
						</select>
						<br>
						Pole3
						<br>
						<select name="field3">
							<option value="ans1" selected>ans1</option>
							<option value="ans2">ans2</option>
							<option value="ans3">ans3</option>
							<option value="ans4">ans4</option>
						</select>
						<br>
						Pole4
						<br>
						<select name="field4">
							<option value="ans1" selected>ans1</option>
							<option value="ans2">ans2</option>
							<option value="ans3">ans3</option>
							<option value="ans4">ans4</option>
						</select>
						</div>  
				</div>
				
				
				<div class="form-group required">
				  <label class="control-label col-sm-2" for="email"><b>Message:</b></label>				
					<div class="adjoined-bottom">
						<div class="grid-container">
							<div class="grid-width-100">
								<div id="editor">
									<textarea name="editor1" id="editor1"  onpaste="console.log('onpastefromhtml')" rows="10" cols="80" >
                						Please enter a message...
            						</textarea>
            						<script>
                						// Replace the <textarea id="editor1"> with a CKEditor
                						// instance, using default configuration.
                						CKEDITOR.replace('editor1');
            						</script>
								</div>
							</div>
						</div>
					</div>
				</div>
				<script>
					//initSample();
				</script>
				<script>
                var PasteImage = function (el) {
                this._el = el;
                this._listenForPaste();
              };
        
              PasteImage.prototype._getURLObj = function () {
                return window.URL || window.webkitURL;
              };
        
              PasteImage.prototype._pasteImage = function (image) {
                this.emit('paste-image', image);
              };
        
              PasteImage.prototype._pasteImageSource = function (src) {
                var self = this,
                  image = new Image();
        
                image.onload = function () {
                  self._pasteImage(image);
                };
        
                image.src = src;
              };
        
              PasteImage.prototype._onPaste = function (e) {
        
                // We need to check if event.clipboardData is supported (Chrome & IE)
                if (e.clipboardData && e.clipboardData.items) {
        
                  // Get the items from the clipboard
                  var items = e.clipboardData.items;
        
                  // Loop through all items, looking for any kind of image
                  for (var i = 0; i < items.length; i++) {
                    if (items[i].type.indexOf('image') !== -1) {
                      // We need to represent the image as a file
                      var blob = items[i].getAsFile();
        
                      // Use a URL or webkitURL (whichever is available to the browser) to create a
                      // temporary URL to the object
                      var URLObj = this._getURLObj();
                      var source = URLObj.createObjectURL(blob);
        
                      // The URL can then be used as the source of an image
                      this._pasteImageSource(source);
        
                      // Prevent the image (or URL) from being pasted into the contenteditable element
                      e.preventDefault();
                    }
                  }
                }
              };
        
              PasteImage.prototype._listenForPaste = function () {
                var self = this;
        
                self._origOnPaste = self._el.onpaste;
        
                self._el.addEventListener('paste', function (e) {
        
                  self._onPaste(e);
        
                  // Preserve an existing onpaste event handler
                  if (self._origOnPaste) {
                    self._origOnPaste.apply(this, arguments);
                  }
        
                });
              };
        
              // TODO: use EventEmitter instead
              PasteImage.prototype.on = function (event, callback) {
                this._callback = callback;
              };
        
              // TODO: use EventEmitter instead
              PasteImage.prototype.emit = function (event, arg) {
                this._callback(arg);
              };
        
              // -----
        
              var pasteImage = new PasteImage(document.getElementById('editor1'));
        
              pasteImage.on('paste-image', function (image) {
                document.body.appendChild(image);
              });
              
                </script>
				
				<div class="form-group">
				  <label class="control-label col-sm-2" for="comment"><b>Images:</b></label>
				  <div class="col-sm-10">
					<input id="imageInEmail" accept="image/*" type="file" name="images" size="60" multiple/>
				  </div>
				</div>
				
				<div class="form-group">
				  <label class="control-label col-sm-2" for="comment"><b>Attachment:</b></label>
				  <div class="col-sm-10">
					<input id="mailAttachment" type="file" name="files" size="60" multiple/>
				  </div>
				</div>
				
				<div>        
				  <div class="col-sm-offset-2 col-sm-10">
					<button id="sendEmailBtn" type="submit" class="btn btn-info col-2" >Send Email</button>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
<br><br>
</form>
</body>
</html>