<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Spring MVC Email Example</title>
    <style type="text/css">
        #sendEmailBtn {
            float: left;
            margin-top: 22px;
        }
    </style>
</head>
<body>
<div  class="jumbotron text-center">
    <h2>Spring MVC Email Example</h2>
    <form id="sendEmailForm" method="post" action="sendEmail" enctype="multipart/form-data" onactio>
        <table id="emailFormBeanTable" border="0" width="80%">
            <tr>
                <td>Email To: </td>
                <td><input id="receiverMail" type="text" name="mailTo"
                           required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                           size="65" placeholder="Please enter email address" /></td>
            </tr>
            <tr>
                <td>Subject: </td>
                <td><input id="mailSubject" required minlength="1" type="text" name="subject" size="65" placeholder="Please enter subject" /></td>
            </tr>
            <tr>
                <td>Message: </td>
                <td><textarea id="mailMessage" cols="50" rows="10" name="message"></textarea></td>
            </tr>
            <tr>
                <td>Attachment: </td>
                <td><input id="mailAttachment" type="file" name="attachFileObj" size="60" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input id="sendEmailBtn" type="submit" value="Send Email" /></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>