<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="witam.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
<div>
<b><p class="welcome">Hello!</p></b>
    <p>If you want to send email to NC Mailbox and report your problem, please click the button below</p>
    <p>and sign in with your Ericsson Outlook account:</p>
<br>

    <form>
        <input class="left" type="button" value="Sign in" onclick="window.location.href='/login'" />
    </form>

</div>
</body>
</html>