<!DOCTYPE html>
<html>
<body>

<h2>Send e-mail to pawel.wolski@ericsson.com</h2>

<form action="mailto:pawel.wolski@ericsson.com" method="post" enctype="text/plain">
    Name:<br>
    <input type="text" name="name"><br>
    E-mail:<br>
    <input type="text" name="mail"><br>
    Comment:<br>
    <input type="text" name="comment" size="50"><br><br>
    <input type="submit" value="Send">
    <input type="reset" value="Reset">
    <input type="file"
           id="avatar" name="avatar"
           accept="image/png, image/jpeg">
</form>

</body>
</html>